bin/
dist/
Debug*/
Release*/
x64/
.suo
.db
*.user
*.db
*.opendb
.DS_Store
.vs
FireRender.Maya.OSX/frMayaPluginMac/frMayaMac/RadeonProRender.xcodeproj/xcuserdata/amd.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
FireRender.Maya.OSX/frMayaPluginMac/frMayaMac/RadeonProRender.xcodeproj/project.xcworkspace/xcuserdata/amd.xcuserdatad/UserInterfaceState.xcuserstate
tahoe.log

FireRender.Maya.OSX/frMayaPluginMac/frMayaMac/RadeonProRender.xcodeproj/project.xcworkspace/xcuserdata/amd.xcuserdatad/UserInterfaceState.xcuserstate
