[submodule "FireRender.Components"]
	path = RadeonProRenderSharedComponents
	url = git@github.com:GPUOpen-LibrariesAndSDKs/RadeonProRenderSharedComponents.git
[submodule "RadeonProRenderSDK"]
	path = RadeonProRenderSDK
	url = git@github.com:GPUOpen-LibrariesAndSDKs/RadeonProRenderSDK.git
[submodule "RadeonProImageProcessingSDK"]
	path = RadeonProImageProcessingSDK
	url = git@github.com:GPUOpen-LibrariesAndSDKs/RadeonImageFilter.git
[submodule "Vulkan-Headers"]
	path = Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
