<?xml version="1.0" encoding="UTF-8"?>

<!--
Copyright 2020 Advanced Micro Devices, Inc
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<?include Variables.wxi?>

 <!-- Need fix
 1. install module only for single feature
 2. install shelf only for single feature
 3. copy .mll only for single feature
 -->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	
	<Product Id="*" Name="$(var.ProductLongName)" Language="1033" Version="$(var.Version)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">

		<Package InstallerVersion="405" Platform="x64" Compressed="yes" InstallScope="perMachine"/>

		<!-- Updates -->
		<MajorUpgrade
			AllowSameVersionUpgrades="yes"
			DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

		<!-- UI stuff -->
		<MediaTemplate EmbedCab="yes"/>

		<Property Id='REINSTALLMODE' Value='amus'/>

		<Icon Id="amd_icon.ico" SourceFile=".\amd_icon.ico"/>
		<Property Id="ARPPRODUCTICON" Value="amd_icon.ico" />

		<Binary Id='InstallerDll' SourceFile='$(var.InstallerDll)' />
    
   
		<CustomAction Id='UserRegister' BinaryKey='InstallerDll' DllEntry='userRegister' Return="ignore" />
		<CustomAction Id='PostInstall' BinaryKey='InstallerDll' DllEntry='postInstall' Return="ignore" />
		<CustomAction Id='BotoInstall' BinaryKey='InstallerDll' DllEntry='botoInstall' Execute="deferred" Impersonate="no" Return="ignore" />

		<CustomAction Id='patchMayaEnv2020' BinaryKey='InstallerDll' DllEntry='patchMayaEnv2020' Execute="deferred" Impersonate="yes" Return="ignore" />
		<CustomAction Id='patchMayaEnv2022' BinaryKey='InstallerDll' DllEntry='patchMayaEnv2022' Execute="deferred" Impersonate="yes" Return="ignore" />
		<CustomAction Id='patchMayaEnv2023' BinaryKey='InstallerDll' DllEntry='patchMayaEnv2023' Execute="deferred" Impersonate="yes" Return="ignore" />

		<CustomAction Id='CheckRPRSDKInTheSystem' BinaryKey='InstallerDll' DllEntry='checkRPRSDKInTheSystem' Execute="deferred" Impersonate="no" Return="ignore" />

		<CustomAction Id='maya2020WasInstalled' Property='MAYA2020_INSTALLED'  Value='true'/>
		<CustomAction Id='maya2022WasInstalled' Property='MAYA2022_INSTALLED'  Value='true'/>
		<CustomAction Id='maya2023WasInstalled' Property='MAYA2023_INSTALLED'  Value='true'/>

                <CustomAction Id='SetInstallCustomMode' Property="WixUI_InstallMode" Value="InstallCustom"/>


		<Property Id="CACHE_PATH">
			<RegistrySearch Id="RegSearchForCache" Root="HKCU" Key="Software\AMD\RadeonProRender\Maya" Type="raw" Name="CachePath" />
		</Property>

		<UI Id="MyWixUI_Mondo">
			<UIRef Id="WixUI_Wizard" />
			<UIRef Id="WixUI_ErrorProgressText" />
		</UI>

		<WixVariable Id="WixUILicenseRtf" Value=".\agreement.rtf" />
		<WixVariable Id="WixUIBannerBmp" Value=".\rpr_banner.png" />
		<WixVariable Id="WixUIDialogBmp" Value=".\rpr_dialog.png" />

		<InstallExecuteSequence>
			<Custom Action="BotoInstall" After="InstallInitialize">(NOT Installed) AND (NOT REMOVE)</Custom>
			<Custom Action="CheckRPRSDKInTheSystem" After="BotoInstall">(NOT REMOVE) AND (UILevel>2)</Custom>
			<Custom Action="patchMayaEnv2020" After="InstallInitialize"><![CDATA[(&Product2020=3)]]></Custom>
			<Custom Action="patchMayaEnv2022" After="InstallInitialize"><![CDATA[(&Product2022=3)]]></Custom>
			<Custom Action="patchMayaEnv2023" After="InstallInitialize"><![CDATA[(&Product2023=3)]]></Custom>
			<CreateFolders/>
			<InstallFiles/>
			<WriteEnvironmentStrings/>
		</InstallExecuteSequence>

		<!-- Define the directory structure -->
		<Directory Id="TARGETDIR" Name="SourceDir">

			<Directory Id="ProgramFiles64Folder">
				<Directory Id="AMD" Name="$(var.Manufacturer)">
					<Directory Id="PLUGINS" Name="$(var.ProductsFolder)">
						<Directory Id="DR_ARTEFACTS" Name="Maya">
							<Directory Id="DR_PLUGINS" Name="plug-ins"/>
							<Directory Id="DR_SCRIPTS" Name="scripts">
								<Directory Id="DR_SCRIPTS_FIRE_RENDER" Name="fireRender"/>
							</Directory>
						</Directory>
<!--
					<Merge Id="Microsoft_VC140_CRT_x64" SourceFile="$(env.CommonProgramFiles(x86))\Merge Modules\Microsoft_VC140_CRT_x64.msm" Language="0" DiskId="1"/>
					<Merge Id="Microsoft_VC140_OpenMP_x64" SourceFile="$(env.CommonProgramFiles(x86))\Merge Modules\Microsoft_VC140_OpenMP_x64.msm" Language="0" DiskId="1"/>
-->						
				</Directory>
				</Directory>
			</Directory>

			<Directory Id="CommonFiles64Folder">
				<Directory Id="AUTODESK_SHARED" Name="Autodesk Shared">
					<Directory Id="MODULES" Name="Modules">
						<Directory Id="DR_MODULES" Name="maya"/>
					</Directory>
				</Directory>
			</Directory>

			<Directory Id="PersonalFolder">
<!--			
EXCLUDE MATERIAL LIBRARY FROM INSTALLER
				<Directory Id="DOCUMENTS_RPR" Name="Radeon ProRender">
					<Directory Id="DOCUMENTS_RPR_MAYA" Name="Maya">
						<Directory Id="DR_MATLIBRARY" Name="Material Library">
						</Directory>
					</Directory>
				</Directory>
EXCLUDE MATERIAL LIBRARY FROM INSTALLER
-->
				<Directory Id="DOCUMENTS_MAYA" Name="maya">
					<Directory Id="DOCUMENTS_MAYA_2020" Name="2020">
						<Directory Id="DOCUMENTS_MAYA_2020_PREFS" Name="prefs">
							<Directory Id="DOCUMENTS_MAYA_2020_PREFS_SHELVES" Name="shelves">
							</Directory>
						</Directory>
					</Directory>
					<Directory Id="DOCUMENTS_MAYA_2022" Name="2022">
						<Directory Id="DOCUMENTS_MAYA_2022_PREFS" Name="prefs">
							<Directory Id="DOCUMENTS_MAYA_2022_PREFS_SHELVES" Name="shelves">
							</Directory>
						</Directory>
					</Directory>
					<Directory Id="DOCUMENTS_MAYA_2023" Name="2023">
						<Directory Id="DOCUMENTS_MAYA_2023_PREFS" Name="prefs">
							<Directory Id="DOCUMENTS_MAYA_2023_PREFS_SHELVES" Name="shelves">
							</Directory>
						</Directory>
					</Directory>

				</Directory>
			</Directory>

			<Directory Id="LocalAppDataFolder">
				<Directory Id="RPR" Name="RadeonProRender">
					<Directory Id="MAYA" Name="Maya">
						<Directory Id="SHADER_CACHE" Name="ShaderCache" />
					</Directory>
				</Directory>
			</Directory>
		
		</Directory>

		<!-- Add files to your installer package -->
		<DirectoryRef Id="DOCUMENTS_MAYA">
			<Component Id="RprCore" Guid="4C4E8CFA-9AEC-CD11-FE6E-108CBCC25D37" Permanent="no" SharedDllRefCount="no" Transitive="no" Win64="yes">
				<CreateFolder Directory="SHADER_CACHE" />
				<RegistryValue Root="HKCU" Key="Software\AMD\RadeonProRender\Maya" Name="CachePath" Type="string" Value="[SHADER_CACHE]" KeyPath="yes" />
				<util:RemoveFolderEx On="uninstall" Property="CACHE_PATH" />
			</Component>			
		</DirectoryRef>

		<DirectoryRef Id="DOCUMENTS_MAYA">
			<Component Id="SceneConv" Guid="127BA071-5452-943B-2C8E-ABFE39ED9FD9" Permanent="no" SharedDllRefCount="no" Transitive="no" Win64="yes" KeyPath="yes" />
		</DirectoryRef>

		<DirectoryRef Id="DR_ARTEFACTS">
			<Component Id="notices.txt" Guid="FEAB5FA6-9072-4619-AC3F-4D61B82C0571" Permanent="no" SharedDllRefCount="no" Transitive="no" Win64="yes">
				<RegistryKey Root="HKCU" Key="Software\AMD\RadeonProRender\Maya">
					<RegistryValue Name="notices" Value="1" Type="integer" KeyPath="yes" />
				</RegistryKey>
				<File Id="file_notices.txt" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="notices.txt" Source="..\notices.txt"/>
			</Component>
		</DirectoryRef>

		<DirectoryRef Id="DOCUMENTS_MAYA_2020_PREFS_SHELVES">
			<Component Id="shelf_Radeon_ProRender_2020.mel" Guid="27700FAD-0E12-460D-93B7-E5D65723ED29" Permanent="no" SharedDllRefCount="no" Transitive="no" Win64="yes">
				<RegistryKey Root="HKCU" Key="Software\AMD\RadeonProRender\Maya">
					<RegistryValue Name="shelf_Radeon_ProRender_2020" Value="1" Type="integer" KeyPath="yes" />
				</RegistryKey>
			<File Id="file_shelf_Radeon_ProRender_2020.mel" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="shelf_Radeon_ProRender.mel" Source="..\..\..\RadeonProRenderMayaPlugin\FireRender.Maya.Src\Shelfs\shelf_Radeon_ProRender.mel" />
			</Component>
		</DirectoryRef>

		<DirectoryRef Id="DOCUMENTS_MAYA_2022_PREFS_SHELVES">
			<Component Id="shelf_Radeon_ProRender_2022.mel" Guid="ED7E8F90-2B03-4FCE-A4F6-B3EC2AE151DD" Permanent="no" SharedDllRefCount="no" Transitive="no" Win64="yes">
				<RegistryKey Root="HKCU" Key="Software\AMD\RadeonProRender\Maya">
					<RegistryValue Name="shelf_Radeon_ProRender_2022" Value="1" Type="integer" KeyPath="yes" />
				</RegistryKey>
				<File Id="file_shelf_Radeon_ProRender_2022.mel" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="shelf_Radeon_ProRender.mel" Source="..\..\..\RadeonProRenderMayaPlugin\FireRender.Maya.Src\Shelfs\shelf_Radeon_ProRender.mel" />
			</Component>
		</DirectoryRef>

		<DirectoryRef Id="DOCUMENTS_MAYA_2023_PREFS_SHELVES">
			<Component Id="shelf_Radeon_ProRender_2023.mel" Guid="D66B15A9-A9AA-47D7-9DED-96E7F152AE11" Permanent="no" SharedDllRefCount="no" Transitive="no" Win64="yes">
				<RegistryKey Root="HKCU" Key="Software\AMD\RadeonProRender\Maya">
					<RegistryValue Name="shelf_Radeon_ProRender_2023" Value="1" Type="integer" KeyPath="yes" />
				</RegistryKey>
				<File Id="file_shelf_Radeon_ProRender_2023.mel" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="shelf_Radeon_ProRender.mel" Source="..\..\..\RadeonProRenderMayaPlugin\FireRender.Maya.Src\Shelfs\shelf_Radeon_ProRender.mel" />
			</Component>
		</DirectoryRef>


<!--		
EXCLUDE MATERIAL LIBRARY FROM INSTALLER
		<DirectoryRef Id="DR_MATLIBRARY">
			<Component Id="MaterialLibraryReg" Guid="1300EF05-FCB3-47E4-BF16-34F1AAF8B14B"  Permanent="no" SharedDllRefCount="no" Transitive="no" Win64="yes">
				<RegistryKey Root="HKCU" Key="Software\AMD\RadeonProRender\Maya">
					<RegistryValue Name="MaterialLibraryPath" Value="[DR_MATLIBRARY]Xml" Type="string" KeyPath="yes" />
				</RegistryKey>
			</Component>
		</DirectoryRef>
EXCLUDE MATERIAL LIBRARY FROM INSTALLER
-->
		<!-- Tell WiX to install the files -->

		<Feature Id="Product" Title="$(var.ProductName)" Description="$(var.ProductLongName)" Level="1" Display="expand">

			<Feature Id="RprCore" Title="Radeon ProRender Core" Description="$(var.ProductLongName) Core" Level="1" Absent="disallow" AllowAdvertise="no">
				<ComponentRef Id="RprCore"/>
				<ComponentRef Id="notices.txt"/>				
			</Feature>

			<Feature Id="Product2020" Title="Support Maya 2020" Description="$(var.ProductLongName) 2020" Level="1">
				<ComponentGroupRef Id="CG_ARTEFACTS"/>
				<ComponentGroupRef Id="CG_2020"/>
				<ComponentGroupRef Id="CG_MODULES"/>
<!--				
				<MergeRef Id="Microsoft_VC140_CRT_x64"/>
				<MergeRef Id="Microsoft_VC140_OpenMP_x64"/>
-->
				<ComponentRef Id="shelf_Radeon_ProRender_2020.mel" />

			</Feature>

			<Feature Id="Product2022" Title="Support Maya 2022" Description="$(var.ProductLongName) 2022" Level="1">
				<ComponentGroupRef Id="CG_ARTEFACTS"/>
				<ComponentGroupRef Id="CG_2022"/>
				<ComponentGroupRef Id="CG_MODULES"/>
				<ComponentRef Id="shelf_Radeon_ProRender_2022.mel" />
			</Feature>	

			<Feature Id="Product2023" Title="Support Maya 2023" Description="$(var.ProductLongName) 2023" Level="1">
				<ComponentGroupRef Id="CG_ARTEFACTS"/>
				<ComponentGroupRef Id="CG_2023"/>
				<ComponentGroupRef Id="CG_MODULES"/>
				<ComponentRef Id="shelf_Radeon_ProRender_2023.mel" />
			</Feature>	


<!--
EXCLUDE MATERIAL LIBRARY FROM INSTALLER			
			<Feature Id="ProductMaterialLibrary" Title="Material Library" Description="Material Library for plugin" Level="1">
				<ComponentGroupRef Id="CG_MATLIBRARY"/>
				<ComponentRef Id="MaterialLibraryReg" />
			</Feature>
EXCLUDE MATERIAL LIBRARY FROM INSTALLER
-->
			<Feature Id="SceneConvScripts" Title="Scene Conversion Scripts" Description="Scene Conversion Scripts for Arnold and RedShift" Level="1" Absent="disallow" AllowAdvertise="no">
				<ComponentGroupRef Id="CG_SCENE_CONV"/>
				<ComponentRef Id="SceneConv"/>
			</Feature>

		</Feature>
	</Product>
</Wix>
